{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
      <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
      >
        <div class="flex flex-col overflow-y-auto md:flex-row">
          <div class="h-32 md:h-auto md:w-1/2">
            <img
              aria-hidden="true"
              class="object-cover w-full h-full dark:hidden"
              src="{{asset('assets/images/img_1.jpg')}}"
              alt="Office"
            />
          </div>
          <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
            <div class="w-full">
              <h1
                class=" text-center mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
              >
                Rejoignez la famille Travolta!
              </h1>
              {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                                <div class="col-12">
                                        <label for="yourName" class="form-label">Nom</label>

                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                                     {{ form_errors(form.nom) }}

                                </div>
                                <div class="col-12">
                                        <label for="yourName" class="form-label"> Prenom</label>

                                        <div class="invalid-feedback">Please, enter your prenom!</div>
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                                     {{ form_errors(form.prenom) }}

                                </div>


                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Adresse-Email</label>
                                        {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.adresse) }}
                                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                    </div>



                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Mot de passe</label>
                                        {{ form_widget(form.mdp,{'attr':{'class':'form-control'}}) }}
                                        <div class="invalid-feedback">Please enter your password!</div>
                                         {{ form_errors(form.mdp) }}
                                    </div>

                               
                                    <div class="flex mt-6 text-sm">
                                      <label class="flex items-center dark:text-gray-400">
                                        <input
                                          type="checkbox"
                                          class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                        />
                                        <span class="ml-2">
                                          I agree to the
                                          <span class="underline">privacy policy</span>
                                        </span>
                                      </label>
                                    </div>

                                    <div class="col-12 mt-3">
                                      <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" 
                                      href="{{path('app_login')}}" class="btn btn-primary center">{{ button_label|default('Créer un compte')  }}</button>
                                    </div>
                                    

                                     
                                {{ form_end(form) }}


              <!-- You should use a button here, as the anchor is only used for the example  -->
              

             

              
              <p class="mt-1">
                <a
                  class="  text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                  href="{{path('app_login')}}">
                 <h1 class='text-center' > Vous avez déjà un compte? Connexion </h1>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

