{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}


<div  class="container text-center">
    <h4 class="  mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    </h4>

   <div  class="container text-center">
    <h4 class="  mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Liste des utilisateurs
    </h4>

    

    <table class="w-full whitespace-no-wrap">
        <thead>
            <tr class="  text-xs  font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="text-center" >Nom</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Adresse</th>
                
                <th class="text-center">Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody  class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for utilisateur in utilisateurs %}
                <tr class="text-gray-700 dark:text-gray-400">
                    <td >{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>{{ utilisateur.adresse }}</td>
                   
                    <td>{{ utilisateur.role }}</td>
                    <td  > 
                       <form  method="post" action="{{ path('app_utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                            <div class="flex">
                                <button  class="text-sm font-medium text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray mr-2" aria-label="Supprimer">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                                <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Modifier">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                    </svg>
                                </a>
                            </div>
                        </form>

                     
                    </td>
                </tr


            {% else %}
                <tr>
                    <td colspan="6">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor%}
        </tbody>

</table>
<div>  <a class="btn btn-link" href="{{ path('app_utilisateur_new') }}">Créer un nouveau</a></div


{% endblock %}


